<form action="/" method="POST">
  <input type="text" name="message" value=<%= params[:message]  %> >
  <input type="submit" value="Inserisci ">
</form>




<% @messages.each do |message| %>
<p><%= message %></p>

<%end%>
